{% extends "::layout.html.twig" %}

{% block body %}
  <div class="page-header">
    <h1>Paginated audit log</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      {{ filter_select(logs, "blamed", users) }}
    </div>
    <div class="col-md-6">
      {{ filter_select(logs, "class", sourceClasses) }}
    </div>
  </div>
  {% for log in logs %}
    {{ audit(log) }}
  {% endfor %}

  <div class="panel-footer">
    {{ pagination(logs) }}
  </div>
{% endblock %}
