imports:
  - { resource: parameters.yml }
  - { resource: security.yml }

parameters:
  locale: en

services:
  twig.audit.extension:
    class: AppBundle\Twig\AuditExtension
    tags:
      - { name: twig.extension }

framework:
  secret: "%secret%"
  translator: { fallback: %locale% }
  router:
    resource: "%kernel.root_dir%/config/routing.yml"
    strict_requirements: true
  form:            ~
  validation:      { enable_annotations: true }
  csrf_protection: ~
  templating:
    engines: ['twig']
  default_locale:  "%locale%"
  trusted_hosts:   ~
  trusted_proxies: ~
  session:
    handler_id: ~
  fragments:       ~
  http_method_override: true
  profiler: { only_exceptions: false }

web_profiler:
  toolbar: true
  intercept_redirects: false

twig:
  debug:            "%kernel.debug%"
  strict_variables: "%kernel.debug%"

doctrine:
  dbal:
    driver:   pdo_sqlite
    host:     "%database_host%"
    port:     "%database_port%"
    dbname:   "%database_name%"
    user:     "%database_user%"
    password: "%database_password%"
    path:     "%database_path%"
    charset:  UTF8

  orm:
    auto_generate_proxy_classes: "%kernel.debug%"
    naming_strategy: doctrine.orm.naming_strategy.underscore
    auto_mapping: true

